.main {
  height: 100vh;
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
}
.main nav {
  width: 100%;
}
.main main {
  height: 88vh;
  position: relative;
  display: flex;
}
.main main aside {
  width: 180px;
  min-width: 180px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #262C58;
  border-top-right-radius: 25px;
}
.main main section {
  width: 90%;
  height: 100%;
}

.brand {
  width: 160px;
}

.navbar-right {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.divider {
  margin: 10px;
  width: 2px;
  height: 30px;
  background-color: #ffff;
}

.tab-btn {
  background-color: #454C78;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  transition: 0.2s;
}
.tab-btn img {
  width: 25px;
  height: 25px;
}
.tab-btn:hover {
  background-color: #262C58;
}

.profile {
  min-width: 180px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50px;
  padding: 5px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile .avatar-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: #ffff;
  overflow: hidden;
  background: url("../assets/men.png");
  background-size: cover;
  background-position: center;
}
.profile .name {
  color: #ffff;
  font-weight: 500;
  margin-right: 15px;
}
.profile .dropdown-btn {
  width: 15px;
  height: 15px;
  background: url("../assets/icons/caret-down.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.sidebar {
  display: flex;
  flex-direction: column;
}
.sidebar .aside-btn, .sidebar .aside-btn-contact-us {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 12px 10px;
  padding-left: 18px;
  box-sizing: border-box;
  margin-bottom: 30px;
  border-radius: 15px;
  text-decoration: none;
  align-items: center;
}
.sidebar .aside-btn:hover, .sidebar .aside-btn-contact-us:hover {
  text-decoration: none;
}
.sidebar .aside-btn .aside-btn-icon, .sidebar .aside-btn-contact-us .aside-btn-icon {
  width: 30px;
  margin-right: 10px;
}
.sidebar .aside-btn .aside-btn-text, .sidebar .aside-btn-contact-us .aside-btn-text {
  font-size: 14px !important;
  color: white;
}

.active {
  background-color: #454C78;
}

.dashboard-wrapper {
  display: flex;
}
.dashboard-wrapper .left {
  width: 60%;
  height: 100vh;
}
.dashboard-wrapper .left .top {
  height: 75vh;
  display: flex;
}
.dashboard-wrapper .left .top .left {
  width: 60%;
  height: 100%;
}
.dashboard-wrapper .left .top .left .circle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin: 0px auto;
  background-color: #262C58;
  border: 30px solid #FFC107;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dashboard-wrapper .left .top .left .circle h1 {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  font-size: 50px !important;
}
.dashboard-wrapper .left .top .left .circle h2 {
  color: #ffff;
  font-weight: 500;
  font-size: 50px !important;
  margin-top: 5px;
}
.dashboard-wrapper .left .top .right {
  width: 40%;
  height: 100%;
}
.dashboard-wrapper .left .top .right > .top {
  width: 100%;
  height: 30%;
  box-sizing: border-box;
}
.dashboard-wrapper .left .top .right > .top div {
  margin: 0px auto;
  height: 60%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  font-weight: 600;
  border-radius: 20px;
  background-color: #262C58;
}
.dashboard-wrapper .left .top .right > .bottom {
  width: 100%;
  height: 70%;
  background-color: red;
}
.dashboard-wrapper .left .bottom {
  height: 25vh;
  width: 100%;
  background-color: lightblue;
}
.dashboard-wrapper .right {
  width: 40%;
  height: 100vh;
}

/*# sourceMappingURL=dashboard.css.map */
