// darkMode: {
//     primary: '#454C78',
//     secondary: '#262C58',
//     accent: '#FFC107',
// },
// lightMode: {
//     primary: '#454C78',
//     secondary: '#262C58',
//     accent: '#FFC107',
// },
// success: "#006E28",
// danger: "#EF593A",
// gray: '#CFCFCF'

$primary : #454C78;
$secondary :#262C58;
$accent : #FFC107;
$success : #006E28;
$danger : #EF593A;
$gray : #CFCFCF;
$white : #ffff;


// const FONTS_SIZES = {
//     h1: 30,
//     h2: 26,
//     h3: 20,
//     title: 20,
//     body: 16,
//     caption: 14
// }

$h1 : 35px !important; 
$h2 : 26px !important; 
$h3 : 20px !important; 
$title : 20px !important; 
$body : 16px !important; 
$caption : 14px !important;


$font-family : -apple-system, BlinkMacSystemFont, 'Montserrat', 'Roboto', sans-serif !important ;