@import './variables';

.container-form { 
    display : flex ; 
    justify-content: center ;
    align-items: center ;
    flex-direction: column;
    .brand { 
        width : 300px  ; 
    }

    .register-form { 
        width : 550px  ; 
        .form-group { 
            label  {
                color : $white ; 
                font-size: $title ; 
            }
            input { 
                height : 60px ; 
                border-radius: 15px ;
                outline : none ;
                &::placeholder { 
                    color: $gray;
                    font-size: $body;
                }
            }
        }
        button { 
            background-color :  $secondary ; 
            color : $white ; 
            height : 60px;
            font-weight: 600 ;
            border-radius: 15px ;
        }
    }

    a { 
        text-decoration: none ;
        color : $accent ;
        font-weight: 600 ; 
        border-bottom: 2px solid $accent;
        padding : 0 5px ; 
    }
}

.divider { 
    padding: 15px;
    border-right: 2px solid $accent;
}