@import './variables';

body { 
    background-color :  $secondary ; 
}

.verify-code-wrapper { 
    width : 100vw ; 
    height: 100vh;
    padding : 30px ; 
    h2 { 
        text-align: center ;
        color : $accent ; 
        font-weight: 600 ;
    }
    .verify-code-input-wrapper { 
        display : flex ;
        justify-content:center ; 
        margin-top : 60px ;
        input { 
            background-color :  $primary ; 
            color : $white ; 
            width : 50px ; 
            height: 60px ;
            border-radius: 10px ;
            outline : none ; 
            border : none ; 
            margin-right: 10px ;
            font-size: 40px ;
            padding : 12px ;
        }
    }
    button { 
        margin-top : 20px ; 
        background-color: $primary ; 
        color : $accent ;
        width : 80% ; 
        margin-left : 40px ; 
        font-weight: 600 ;
    }
}